@font-face {
    font-family: 'jurassic_parkregular';
    src: url('../images/Font/jurassicpark-bl48-webfont.woff2') format('woff2'),
         url('../images/Font/jurassicpark-bl48-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #000000;
}
#jumbo-background {
    background-color: #000000;
}

#jumbo-words{
    font-family: 'jurassic_parkregular';
    font-size: 72px;
    color: #fefafe;
}
#tagline {
    font-family: 'jurassic_parkregular';
    font-size: 48px;
    color: #fefafe;
}
#play,
#reset {
    color: #000000;
    font-weight: bold;
    border-width: 1px;
    border-color: #ffdb00;
    margin-right: 25px;
}
.container {
    margin-top: 0px;
    width: 100%;
    background-color: #000000;
}
#title-banner {
    margin-top: 0px;
    text-align: center;
    margin-bottom: 0px;
}

#mainbox{
    background-image: url(../images/car-pattern.jpg);
    background-size: cover;
    text-align: center;
    width: 100%;
    margin-bottom: 25px;
    align-content: center;
    height: 250px;
}

#question-box,
#answers-box {
    width: 50%;
    text-align: center;
    align-self: center;
    background-color: #1eb917;
    font-size: 30px;
    font-weight: bold;
    color: #fefafe;
}

h2,
h4 {
    color: #000000;
}

#choices-button {
    color: #000000;
    padding: 5px;
    background-color: #ea1f29;
}

#timer {
    font-size: 26px;
    color: #fefafe;
}